[submodule "backend"]
	path = backend
	url = https://github.com/lorenzjosten/frequency-analyzer-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/lorenzjosten/frequency-analyzer-frontend.git
